:root {
	--line-count-width: 1ch;
	--bright-color: #18bc9c;
	--bright-color2: #8ff0dc;
	--bg-color: #AFAFAF;
	--bg-color2: #DFDFDF;
}

body {
	margin: 0;
}

p, h1, h2, h3, h4, h5, pre {
	margin: 0;
	padding: 0;
}

p {
	padding-bottom: 0.125rem;
	font-size: 1rem;
}
h1, h2, h3, h4, h5 {
	padding-bottom: 0.5rem;
	font-family: 'Fira Sans', sans-serif;
}

code {
	font-family: 'Fira Code', monospace;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: var(--bright-color);
	color: white;
	height: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
}

nav > h2 {
	padding: 0;
}

.current-file {
	background-color: var(--bright-color2);
}

.content {
	display: grid;
	grid-template-columns: 6em 1fr 15em;
	grid-template-rows: 3em 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	height: calc(100vh - 2.5em);
}

.content section:nth-child(1) {
	grid-column: 1;
	grid-row: span 3;
}

.content section:nth-child(2) {
	grid-column: span 3;
	grid-row: 1;
}

.content section:nth-child(3) {
	grid-column: 2;
	grid-row: span 3;
}

.content section:nth-child(4) {
	grid-column: 3;
	grid-row: span 2;
}

.content section:nth-child(5) {
	grid-column: 3;
	grid-row: 4;
}

.content section:nth-child(6) {
	grid-column-end: span 3;
	grid-row-end: span 1;
}

#file-display {
	overflow-y: auto;
}

#ftree-display {
	padding: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: var(--bg-color);
}

#ftree-display > p {
	padding: 0.25em;
}

#ftree-display > p:not(.current-file) {
	cursor: pointer;
}

#watchpoint-display {
	background-color: var(--bg-color);
}

#register-display {
	overflow-y: auto;
	background-color: var(--bg-color);
}

#memory-display {
	background-color: var(--bg-color);
}

#controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-color);

	padding-top: 0;
	padding-bottom: 0;
}
#controls > button {
	height: 4ch;
	width: 4ch;
	font-size: 1rem;
	margin-left: 0.25em;
	margin-right: 0.25em;

	background-color: var(--bg-color2);
	
}
#controls > button:nth-child(1) {
	margin-left: 0;
}
#controls > button:last-child {
	margin-right: 0;
}


.code-line-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	tab-size: 4;
}

.code-line-wrapper > span {
	min-width: var(--line-count-width);
	margin-right: 0.75em;
	font-family: 'Fira Code', monospace;
	text-align: right;
	color: grey;
}

.code-line::before {
	content: attr(data-line-number);
}

.code-line {
	cursor: pointer;
}

.line-break {
	background-color: var(--bright-color);
	color: white;
}

.line-active {
	background-color: var(--bright-color2) !important;
	color: black;
}

.register-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Fira Code', monospace;
}
.register-line > p {
	font-weight: bold;
	margin-right: 0.25rem;
	font-size: 1.125rem;
	width: 4ch;
}

.watch-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Fira Code', monospace;
}
.watch-line > p {
	font-weight: bold;
	margin-right: 0.25rem;
	font-size: 1.125rem;
}

section {
	background-color: var(--bg-color2);
	padding: 1em;
	font-family: monospace;
	box-shadow: 2px 2px 3px grey;
}

input {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
}

i {
	cursor: pointer;
}

i:hover {
	color: darkgrey;
}

i:active {
	color: darkgrey;
}
